{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achedom | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap5.3/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{% static 'base/achedom.ico' %}">
</head>

<body class="bg-body-tertiary">

    <header>
        <nav class="py-4 bg-dark">
            <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img width="40" src="{% static 'base/achedom.svg' %}" alt="Achedom Logo">
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mx-2">
                    <li><a href="/" class="nav-link px-2 {% if home %} text-secondary {% else %} text-white {% endif %}">Home</a></li>
                    <li><a href="/service_orders/" class="nav-link px-2 {% if service_orders %} text-secondary {% else %} text-white {% endif %}">Service Orders</a></li>
                    <li><a href="/config/" class="nav-link px-2 {% if config %} text-secondary {% else %} text-white {% endif %}">Config</a></li>
                    {% if is_staff %}<li><a href="/admin/" class="nav-link px-2 text-white">Django Admin</a></li>{% endif %}
                </ul>
        
                <div class="dropdown text-end">
                    <a class="d-block link-body-emphasis text-decoration-none" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle" src="{% static 'default_user_media/user.png' %}" alt="mdo" width=32 height=32>
                        <i class="bi bi-arrow-down-short text-bg-dark"></i>
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form action="{{ logout_url }}" method="post">
                                {% csrf_token %}
                                <input class="dropdown-item" type="submit" value="Logout">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container my-4">

        {% if messages %}
            {% for message in messages %}
            <div class=" alert {% if message.tags %}alert-{{ message.tags }} {% endif %}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        {% block main %}{% endblock %}

    </main>
    <script src="{% static 'bootstrap5.3/js/bootstrap.bundle.js' %}" ></script>
</body>

</html>